<!-- Qui header che viene importato dalle pagine,
        Contiene tutte le risorse statiche css e javascript per le varie pagine
        In più da il titolo alla pagine grazie     <title th:text="${title}"></title>
        title è un model attribute.
        Importata <head th:replace="fragments/header :: header"></head>
        -->

<head th:fragment="header">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">


  <title th:text="${title}"></title>


  <link rel="stylesheet" href="/css/bootstrap.min.css">


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> <!-- jquery (help with javascript) -->


  <script src="/bootstrap/js/bootstrap.min.js"></script>




</head>
